.venv/
.env
outputs/
out/
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyo
*.tmp
*.bak
*.log
*.zip
*.7z
*.tar
*.tar.gz
*.rar
~$*
.vscode/settings.json
.DS_Store
*.egg-info/
